body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


ul {
  padding: 0;
  list-style-type: none;
}

li a {
  text-decoration: none;
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* top nav */
.top-nav {
  height: 60px;
  background: #2c3e50;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.user-actions {
  display: flex;
  align-items:center;
  gap: 15px;
}

.logout {
  padding: 5px 10px;
  cursor: pointer;
}

/* side + main container */
.main-content {
  display: flex;
  flex: 1;
}

/* side nav */
.side-nav {
  width: 150px;
  background: #c0c8cf;
  color: white;
  padding: 1%;
}

.side-nav ul li a{
  display: block;
  width: 100%;
}

.side-nav ul li a:hover, .active {
  color: rgb(157, 112, 112);
  background-color: white;
}

/* main content */
.main {
  flex: 1;
  padding: 20px;
  background: #f5f5f5;
}


/* loading component */
.main-loading-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e0effc;
}


/* login component */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9abef5;
}

.login-card {
  width: 350px;
}

/*SPA CONTAINER*/

.main-spa-container {
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-spa-container .page-title {
  font-weight: bold;
  font-size: 15px;
  width:99%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5%;
  padding-left:1%;
  background-color: #ccc;
}

.main-spa-container .page-content {
  height:95%;
  top: 1%;
  position:relative;
}

/* data table */
.data-table {
  height:100%;
}

.datatable-filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7%;
}

.data-table-container {
  height : 85%;
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1%;
  width: 100%;
}

.paginator .buttons {
  display: flex;
  flex: 2;
}

.paginator .buttons .buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginator .total-number-of-items {
  display: flex;
  flex: 1.6;
}


.css-var-root.ant-table-css-var.ant-table-wrapper.css-dev-only-do-not-override-1daqxe2{
  height:100%;
  background-color: #ccccccb8;
  border-radius: 1%;
}
